header{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: 50px;
    width: 1000px;
    background-image: linear-gradient(to left,#C33764, #1D2671);
    align-self:center;
    border-radius: 30px;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
h1{
    color: rgb(5, 0, 0);
    text-align: center;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
h4{
    background-color: rgb(238, 246, 20);
    border-radius: 20px;
}
body {
    background-color:#072f9d;
}
section {
    text-align: center;
}
footer{
    background-image: linear-gradient(to right,#09203F , #537895);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 30px;
    height: 50px;
    right: 0px; bottom: 0px;
    width: auto;
    border-radius: 30px;
}


.prev{
    align-self:auto;
    border: 5px solid #072f9d;
    font-size: 30px;
    background-color: #ffffff;
    width: 175px;
    border-radius: 20px
}
.prev:hover{
    align-self:auto;
    border: 5px solid #072f9d;
    font-size: 27px;
    width: 170px

}
.home{
    align-self:auto;
    border: 5px solid #072f9d;
    font-size: 35px;
    font:bold;
    background-color: #ffffff;
    width: 150px;
    border-radius: 20px

}
.home:hover{
    align-self:auto;
    border: 5px solid #072f9d;
    font-size: 33px;
    background-color: #DA0463;
    width: 145px;
 
}
.next{
    align-self:auto;
    border: 5px solid #072f9d;
    font-size: 30px;
    background-color: #ffffff;
    width: 175px;
    border-radius: 20px

}
.next:hover{
    align-self:auto;
    border: 5px solid #072f9d;
    font-size: 27px;
    background-color: #ffffff;
    width: 175px;

}

.container{

    width:auto;
    height: auto;
    background-color:rgba(242, 242, 235, 0.881);
    align-self: center;
    align-content: center;
    text-align: center;
    padding: 20px;

}

.sachin{
    color:aliceblue;
    text-align: center;
    font-size: 30px ;
    font-variant: small-caps;
    background-color: black;
    width: auto;
    height: auto;
}

img{
    border-radius: 20px;
}
.author{
    text-align:right;
    font-size: 30px;
}
.date{
    text-align:start;
    font-size: large;
}

.mainauth{
    text-align: end;
    font-size: 20px;
}
a:hover{
    color:crimson
}
.maincontainer{
    width:auto;
    height: auto;
    background-image:linear-gradient(to right,#EE9CA7,#FFDDE1);
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 25px;
    transition: all 3s ease-in-out 3s;

}
.hovering_text{
    display: none;
    border-radius: 25px;
}
.maincontainer:hover .hovering_text{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    display:block;
    height:auto;

}
.mainbody{
    background-image: linear-gradient(to right,#D4145A,#FBB03B);
}

body{
    background-image: linear-gradient(to right,#A9F1DF,#FFBBBB);
}

/* .mega_container{
    padding: 20px;
} */

.mega_container .maincontainer{
    margin-bottom: 100px;
}
